# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Battleship (Kotlin)/*
!/Battleship (Kotlin)/task/
/Battleship (Kotlin)/task/*
!/Battleship (Kotlin)/task/src
